* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #1f2933;
  --gray: #616e7c;
  --light-blue: #5ed0fa;
  --blue: #2bb0ed;
  --dark-blue: #035388;
  --light-pink: #f364a2;
  --pink: #da127d;
  --dark-pink: #620042;
  --white: #fbfcfe;
}

/*
  we need these to be 100% height
  so our child that is set to 100%
  takes up the entire viewport 
*/
html,
body {
  height: 100%;
}

body {
  --container-height: 100%;

  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.container {
  /* this will set our height on our different pages */
  height: var(--container-height);

  --page-color: var(--gray);
  display: grid;
  place-content: center;
  gap: 3rem;
  border: 8px solid var(--page-color);
  text-align: center;
  padding: 1rem;
}

.container-100 {
  /* setting our height to 100% */
  --container-height: 100%;

  --page-color: var(--blue);
  --gohome-color: var(--light-blue);
}

.container-vh {
  /* setting our height to 100vh */
  --container-height: 100vh;

  --page-color: var(--pink);
  --gohome-color: var(--light-pink);
}

.other-child {
  /* height for other child on the page */
  --container-height: 15%;

  /* not the page, but defines the border */
  --page-color: var(--gray);
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.anchor-100 {
  --border-color: var(--blue);
  --bg-color: var(--dark-blue);
}

.anchor-vh {
  --border-color: var(--pink);
  --bg-color: var(--dark-pink);
}

.anchor-button {
  text-decoration: none;
  display: grid;
  place-content: center;
  padding: 1rem;
  border-radius: 8px;
  color: var(--white);
  border: 4px solid var(--border-color);
}

.anchor-button:hover {
  background-color: var(--bg-color);
}

.gohome {
  justify-self: center;
  width: fit-content;
  color: var(--white);
}

.gohome:hover {
  color: var(--gohome-color);
}
