* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #1f2933;
  --light-gray: #cbd2d9;
  --gray: #616e7c;
  --dark-gray: #323f4b;
  --light-blue: #91defd;
  --blue: #2bb0ed;
  --mid-blue: #127fbf;
  --dark-blue: #035388;
  --light-pink: #ffb8d2;
  --pink: #da127d;
  --dark-pink: #620042;
  --white: #fbfcfe;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--white);
    --text: var(--black);
    --pink-hover: var(--light-pink);
    --blue-hover: var(--light-blue);
    --gray-hover: var(--light-gray);
    --link: var(--mid-blue);
    --link-active: var(--dark-blue);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --text: var(--white);
    --pink-hover: var(--dark-pink);
    --blue-hover: var(--dark-blue);
    --gray-hover: var(--dark-gray);
    --link: var(--blue);
    --link-active: var(--light-blue);
  }
}

/*
  we need these to be 100% height
  so our child that is set to 100%
  takes up the entire viewport 
*/
html,
body {
  height: 100%;
}

body {
  --container-height: 100%;

  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.container {
  /* this will set our height on our different pages */
  height: var(--container-height);

  --page-color: var(--gray);
  display: grid;
  place-content: center;
  gap: 3rem;
  border: 8px solid var(--page-color);
  text-align: center;
  padding: 1rem;
}

.container-percent {
  /* setting our height to 100% */
  --container-height: 100%;

  --page-color: var(--blue);
}

.container-vh {
  /* setting our height to 100vh */
  --container-height: 100vh;

  --page-color: var(--pink);
}

.other-child {
  /* height for other child on the page */
  --container-height: 15%;

  /* not the page, but defines the border */
  --page-color: var(--gray);
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.anchor-100 {
  --border-color: var(--blue);
  --bg-color: var(--blue-hover);
}

.anchor-vh {
  --border-color: var(--pink);
  --bg-color: var(--pink-hover);
}

.anchor-home {
  --border-color: var(--gray);
  --bg-color: var(--gray-hover);
}

.anchor-button {
  text-decoration: none;
  display: grid;
  place-content: center;
  padding: 1rem;
  border-radius: 8px;
  color: var(--text);
  border: 4px solid var(--border-color);
}

.anchor-button:hover {
  background-color: var(--bg-color);
}

.self-link {
  justify-self: center;
  width: fit-content;
  color: var(--link);
}

.self-link:hover {
  color: var(--link-active);
}
