*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #2e3440;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  --border-color: cyan;
  --container-height: 100%;
}

.container {
  display: grid;
  place-content: center;
  gap: 3rem;
  height: var(--container-height);
  border: 4px solid var(--border-color);
  text-align: center;
  padding: 1rem;
}

.container-100 {
  --border-color: orange;
  --container-height: 100%;
}

.container-vh {
  --border-color: violet;
  --container-height: 100vh;
}

.other-child {
  --border-color: chartreuse;
  --container-height: 5rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.anchor-button {
  display: grid;
  place-content: center;
  padding: 1rem;
  text-decoration: none;
  color: white;
  border: 4px solid skyblue;
  border-radius: 8px;
}

.anchor-button:hover {
  background-color: #3b4252;
}

.gohome {
  color: white;
}

.gohome:hover {
  color: skyblue;
}
